html {
  height: 100%;
}

body {
  background-size: 100% 100%;
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  height: 100% !important;
}

.header {
  background: rgb(234, 100, 167) !important;
  width: 100%;
}

.brandNav {
  font-family: 'Homemade Apple', cursive;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  transition: .1s ease-in-out;
}

.linkNav a {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 1rem;
  padding-left: 50px!important;
  transition: .5s ease-out;
}

.linkNav a:hover {
  color: #931a25;
}

.brandNav:hover {
  opacity: .8;
}

.navbar-toggler:focus {
  outline: none;
  border: none;
}

#contents {
  margin: 0 auto;
  width: 50%;
  margin-top: 1%;
  font-family: 'Ubuntu', sans-serif;
  color: #931a25;
  padding: 2% 2%;
}

h1 {
  padding-bottom: 2%;
  font-size: 1.8rem;
}

h2 {
  font-size: 3rem;
  color: white;
  padding-bottom: 5%;
  font-family: 'Niconne', cursive;
}

p {
  font-size: 1.1rem;
  line-height: 1.5 !important;
}

.calcForm {
  margin-top: 6%;
  text-align: center;
  background-image: linear-gradient(to left, #f78ca0 5%, #f9748f 19%, rgba(241, 136, 225, .5) 100%);
  border-radius: 10px;
  padding: 5% 4%;
}

.calcForm2 {
  margin-top: 6%;
  text-align: center;
  background-image: linear-gradient(to left, #f78ca0 5%, #f9748f 19%, rgba(241, 136, 225, .5) 100%);
  border-radius: 10px;
  padding: 5% 4%;
}

.radioInput {
  text-align: left !important;
  padding: 0;
  width: 100%;
}

#nameInput {
  text-align: left !important;
}

.calcFormIcon {
  color: white;
}

label {
  margin-right: 2%;
}

.textInput, select {
  width: 80%;
  margin-bottom: 15%;
  border: none;
  background: none;
  border-bottom: 1px solid white;
  color: white;
  padding-left: 1%;
  font-size: 1.1rem;
  padding-left: 2%
}

::placeholder {
  color: white;
  opacity: 1;
}

input:focus {
  outline: none;
  box-shadow: none;
}

select:focus {
  outline: none;
  box-shadow: none;
}

select {
  margin-top: 1.4%;
  margin-left: 10%;
}

#loveSubmit {
  border-radius: 10px;
  padding: 1% 7%;
}

footer {
  text-align: center;
  margin-top: 2%;
  overflow: hidden;
}

.footerBtn {
  font-size: .9rem;
  padding: 2px 10px;
  color: #931a25;
  font-weight: bolder;
  border-radius: 10px;
  border: 2px solid #931a25;
}

.footerBtn:hover {
  border: 2px solid #931a25;
  background-color: rgba(51, 3, 0, .3);
}

.footerLinksSpan {
  margin-top: 1%;
  padding-left: 3%;
  padding-bottom: 1%;
  font-size: .9rem;
}

.footerLinksSpan a {
  color: #931a25;
  transition: .3s ease;
}

.footerLinksSpan a:hover {
  color: white;
  text-decoration: none;
}

#contentsResult {
  display: none;
}

#testedName, #crushedName {
  font-size: 3rem;
  color: white;
  font-family: 'Niconne', cursive;
}

.andImage {
  width: 10% !important
}

#scoreBoard {
  margin: 0 auto;
  background: rgb(234, 100, 167);
  width: 15%;
  font-size: 3rem;
  color: white;
  border-radius: 10px;
  border: 2px solid red;
  margin-top: 5%;
}
#shareScore {
  margin: 0 auto;
  /* background: rgb(234, 100, 167); */
  cursor: pointer;
  background: #ee2d60;
  width: 150px;
  font-size: 1rem;
  padding: .5rem 0;
  color: white;
  border-radius: 10px;
  border: 2px solid red;
  margin-top: 5%;
}

#messageCrushName10, #messageTestedName10, #messageCrushName30, #messageTestedName30, #messageCrushName50, #messageTestedName50, #messageCrushName70, #messageTestedName70, #messageCrushName80, #messageTestedName80, #messageCrushName100 {
  color: white;
  font-size: 1.5rem;
  font-family: 'Niconne', cursive;
}

#scoreMessage10, #scoreMessage30, #scoreMessage50, #scoreMessage70, #scoreMessage80, #scoreMessage100 {
  margin: 5% 5% 5% 5%;
  line-height: 1.5;
  color: #931a25;
  font-size: 1.2rem;
  display: none;
}

.howContents {
  margin-top: 10% !important;
  margin-bottom: 10% !important;
}

.psychoContents {
  margin-top: 5% !important;
  margin-bottom: 5% !important;
}

.psychoTexts {
  line-height: 1.5 !important;
  text-align: left;
}

.courtesyText {
  font-size: .8rem;
}

.classList {
  list-style-image: url('sqpurple.gif');
}

.classList li {
  padding-left: 1%;
  padding-bottom: 1% !important;
}

.classList li a {
  font-size: 1.2rem;
  color: #F31920;
  transition: .5s ease;
}

.classList li a:hover {
  color: #931a25;
  text-decoration: none;
}

/* Media Queries */
@media (print) {
  body {
    display: none;
  }
}

@media (max-width:1440px) {
  #contents {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80% !important;
  }

  .calcForm {
    margin-top: 5%;
  }

  #contentsResult {
    margin-top: 15%;
    margin-bottom: 15%;
  }
}

@media (max-width:990px) {
  html {
    width: 100%;
  }

  body {
    background-size: 100% 100%;
  }

  #scoreBoard {
    width: 25%;
  }

  .linkNav {
    display: inline-block;
    width: 60%;
  }

  .nav-item {
    padding: 0;
    display: inline-block;
  }

  .brandNav {
    width: 30%;
  }

  .nav-item a {
    font-size: .8rem
  }

  h1 {
    font-size: 1.4rem;
  }

  .calcText {
    font-size: 1rem;
  }

  .calcText2 {
    display: none;
  }

  .footerBtn {
    font-size: .7rem;
  }

  .brandNav img {
    width: 50%;
  }
}
 @media (max-width:770px) {
  .calcText3 {
    display: none !important;
  }
  .calcText2 {
    display: block !important;
  }
  .navbar-nav a{
    padding-left: 20px!important
  }
}
@media (max-width:540px) {

 .calcText3, .calcText1 {
   display: none !important;
 }
  .navbar-nav a{
   padding-left: 10px!important
 }
}
@media (max-width:485px) {

 .calcText3, .calcText1, .calcText {
   display: none !important;
 }
  .navbar-nav a{
   padding-left: 7px!important;
   font-size: .7rem;
 }
 .calcText2 {
   text-align: center;
 }
 #scoreBoard {
   margin-top: 5%;
   width:45%;
 }
 #testedName, #crushedName {
   font-size: 2rem;
 }
 .andImage img {
   width: 10%;
 }
}

@media (max-width:400px) {
  .navbar-nav a{
   padding-left: 2px!important;
   font-size: .65rem;
 }
 .calcForm {
   margin-top:15%;
 }
 .loveh2 {
   font-size: 2.1rem;
 }
 #scoreBoard {
   margin-top: 10%;
   width:45%;
 }
 #testedName, #crushedName {
   font-size: 2rem;
 }
 .andImage img {
   width: 10%;
 }
}
@media (max-width:370px) {
  .navbar-nav a{
   padding-left: 1px!important;
   font-size: .4rem;
 }
}
